.footer {
  width: 100%;
  border-top: 2px dashed @silver;
  background: @sandy-beach;
  
  img {
    width: 100%;
    // display: none;
  }

  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}